<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Info - MiniChat</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<div class="info-container">

    <div class="info-box">

        <h1>MiniChat</h1>

        <h2>ℹ️ Info</h2>

        <p>
            Velkommen til MiniChat!
        </p>

        <h3>🆕 Oppdateringer</h3>

        <p>
            Åpning av MiniChat (16.09.2026)
        </p>

        <h3>📢 Viktig</h3>

        <p>
            MiniChat er i beta akuratt nå så forvent bugs og feil✨.

            Om ingen har vært på siden på ca 10 min kommer noe som heter render opp. Det er ikke farlig, Render er online hosten MiniChat bruker. Du våkner den bare👍

            Om du opplever rasisme eller hat si ifra til Jonas (jonasbjorbekk@gmail.com). Samme med Bugs🪲.

            Takk for at du bruker MiniChat.
        </p>

        <p>
            <a href="{{ url_for('home') }}">← Tilbake til MiniChat</a>
        </p>

    </div>

</div>

</body>
</html>